@model IEnumerable<Models.ViewModels.RoleWithGroupModel>
@{
    ViewBag.Title = "AddNewRole";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Danh sách các quyền hạn chưa có trong nhóm người dùng @Session["GROUP_SESSION"]</h4>
            <p class="mb-0">
                Trang tổng quan này cung cấp cho bạn tổng quan về danh sách <b>Quyền thuộc nhóm người dùng @Session["GROUP_SESSION"]</b> <br>
                Nếu bạn không muốn thêm mới quyền truy cập khác cho nhóm này, bạn có thể  <a href="/Administrator/UserGroups/RoleWithGroup">Back</a>

            </p>
        </div>
        <button class="btn btn-info add-list"><i class="las la-plus mr-3"></i> @Html.ActionLink("Thêm quyền hạn mới", "AddNewRole")</button>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>
                        Mã quyền hạn
                    </th>
                    <th>
                        Tên quyền hạn
                    </th>

                    <th>
                        Action name
                    </th>
                </tr>
            </thead>
            <tbody class="ligth-body">
                @foreach (var item in Model)
                {
                    <tr  id="row_@item.ID">
                         <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <button class="badge bg-success mr-2">

                                    @Ajax.ActionLink("Add", "AddRole", new { @id = item.ID }, new AjaxOptions
                                     {
                                         Confirm = "Ban them nguoi dung nay vao nhom nguoi dung?",
                                         OnComplete = "$('#row_)" + @item.ID + "').remove()",
                                         HttpMethod = "AddRole"
                                     })
                                </button>
                            </div>

                            @*<a href="/Admin/User/Delete/@item.ID">Xoa</a>*@
                            @*@Ajax.ActionLink("Xóa", "Delete", new { @id = item.UserID }, new AjaxOptions
                                {
                                    Confirm = "Ban co muon xoa?",
                                    OnComplete = "$('#row_)" + item.UserID + "').remove()",
                                    HttpMethod = "Delete"
                                })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

