@model ClothesBYW.Models.GioHang
@{
    ViewBag.Title = "Showcart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pro in Model.Items)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(model => pro.sp.Product.ProductName)</td>
                                    @*<td><img src="@Url.Content(pro.sp.HinhMinhHoa)" height="50" width="50" /></td>*@
                                    <td>@Html.DisplayFor(model => pro.Price)</td>
                                    <td>@Html.DisplayFor(model => pro.sp.Color.ColorName)</td>
                                    <td>@Html.DisplayFor(model => pro.sp.Product.ProductLines.First().Size)</td>
                                    <td>
                                        @using (Html.BeginForm("Update_Cart_Qua", "ShoppingCart"))
                                        {
                                            <input type="hidden" value="@pro.sp.ProductLineID" name="IDPro" />
                                            <input type="number" value="@pro.SoLuong" name="QualityPro" min="1" max="@pro.sp.QuantityInStock" />
                                            <input type="submit" style="color: #ffffff; border: #4faaf0; background-color: #4faaf0; border-radius: 10px 15px 10px 15px; width: 100px;" value="Update" />
                                            <p></p>
                                            <p>Sản phẩm chỉ còn @pro.sp.QuantityInStock</p>


                                        }

                                    </td>

                                    <td>@pro.Total()</td>
                                    <td>
                                        <a href="/ShoppingCart/Remove/@pro.sp.ProductLineID/">Xóa</a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>$99</span></p>
                                    <p>Shipping Cost<span>$1</span></p>
                                    <h2>Grand Total<span>$100</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button>Update Cart</button>
                                    <button>
                                        <a href="/ShoppingCart/CheckOut" class="btn btn-inverse"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                        @*<a href="~/ShoppingCart/FormTTKH/">Đặt hàng</a>*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->