@model Models.EF.Brand

@{
    Layout = null;
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
    </script>
}

<div class="row" style="padding-top: 30px"></div>

@using (Html.BeginForm("AddOrEdit", "Brands", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "Brands", new { id = 0 }) }))//data-resetUrl
{
    @Html.AntiForgeryToken()
    <div class="col-sm-12" style="margin-bottom: 10px">
        <div class="">
            <form action="page-list-suppliers.html" data-toggle="validator">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.BrandID)


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên thương hiệu </label>
                            @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BrandName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Logo thương hiệu</label>
                            @Html.TextBoxFor(model => model.ImageBrand, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
                            <button class="btn btn-default" id="btnSelectImage">Chọn Ảnh</button>
                            @Html.ValidationMessageFor(model => model.ImageBrand)

                        </div>
                    </div>

                </div>
                <input type="submit" value="Submit" class="btn btn-primary mr-2" />
                @if (Model.BrandID != 0)
                {
                    <a class="btn btn-success" onclick="refreshAddNewTab('@Url.Action("AddOrEdit","Brands",new{id=0})',false)"><i class="fa fa-plus"></i> Thêm mới</a>
                }
                <button class="btn btn-warning mr-2"> @Html.ActionLink("Cancel", "Index")</button>

                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>

}
