@model IEnumerable<Models.EF.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/customerController.js"></script>
}
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Danh sách tài khoản khách hàng
        </div>
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="text-align: center; color: black">
                            Mã khách hàng
                        </th>
                        <th style="text-align: center; color: black">
                            Tên khách hàng
                        </th>
                        <th style="text-align: center; color: black">
                            Loại khách hàng
                        </th>
                        <th style="text-align: center; color: black">
                            Email
                        </th>
                        <th style="text-align: center; color: black">
                            Số điện thoại
                        </th>
                        <th style="text-align: center; color: black">
                            Trạng thái
                        </th>
                        <th style="text-align: center; color: black">Action Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.CustomerID)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.CustomerCategory.Name)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td style="text-align: center">
                                <a href="#" class="btn-active" data-id="@item.CustomerID">@(item.Status?"Active":"Block")</a>
                            </td>
                            <td style="text-align: center">
                                <div class="d-flex align-items-center list-action">
                                    <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                       href="/Administrator/Customers/Details/@item.CustomerID"><i class="fa fa-eye"></i></a>
                                </div>

                                @*<a href="/Admin/User/Delete/@item.ID">Xoa</a>*@
                                @*@Ajax.ActionLink("Xóa", "Delete", new { @id = item.UserID }, new AjaxOptions
                                    {
                                        Confirm = "Ban co muon xoa?",
                                        OnComplete = "$('#row_)" + item.UserID + "').remove()",
                                        HttpMethod = "Delete"
                                    })*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">


                <div class="col-sm-12 text-right  ">

                </div>
            </div>
        </footer>
    </div>
</div>
