@model IEnumerable<Models.EF.PurchaseOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<div class="market-updates row">
    <a style="background-color: whitesmoke;
                                    backdrop-filter: blur(6px);
                                    -webkit-backdrop-filter: blur(6px);
                                    border: 1px solid black;
                                    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                    border-radius: 12px;
                                    -webkit-border-radius: 12px;
                                    color: black;
                                    padding: 5px 10px;"
       
       class="btn-CreateOrder btn border add-btn shadow-none mx-2 d-none d-md-block"
      >
        Thêm đơn nhập hàng mới
    </a>
    <div id="CreatePO" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("Create", "PurchaseOrders")">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" style="padding: 20px">

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 stats-info stats-last widget-shadow">
    <div class="stats-last-agile">
        <table class="table stats-table ">
            <thead>
                <tr>
                    <th>
                        Mã đơn hàng
                    </th>

                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Tạo bởi
                    </th>
                    <th>
                        Tổng Tiền
                    </th>
                    <th>
                        Ngày nhận hàng
                    </th>
                    <th>
                        Trạng thái
                    </th>

                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.PurchaseOrderID)</th>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmountPurchase)
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.ReceivedDate)</td>
                        @if (item.Status == 1)
                        {
                            <td style="text-align: center">
                                <span class="label labels-primary" style="font-size: 0.8rem; font-weight: bolder">Chờ phê duyệt</span>
                            </td>
                        }
                        else if (item.Status == 2)
                        {
                            <td style="text-align: center">
                                <span class="label label-warning" style="font-size: 0.8rem; font-weight: bolder">Đang giao đơn</span>
                            </td>
                        }
                        else if (item.Status == 3)
                        {
                            <td style="text-align: center">
                                <span class="label label-danger" style="font-size: 0.8rem; font-weight: bolder">Đã bị huỷ</span>
                            </td>
                        }
                        else if (item.Status == 4)
                        {
                            <td style="text-align: center">
                                <span class="label label-success" style="font-size: 0.8rem; font-weight: bolder">Đã nhận hàng</span>
                            </td>
                        }
                        else if (item.Status == 5)
                        {
                            <td style="text-align: center">
                                <span class="label label-info" style="font-size: 0.8rem; font-weight: bolder">Lỗi chi tiết đơn</span>
                            </td>
                        }

                        <td><a href="/Administrator/PurchaseOrders/PODetails/@item.PurchaseOrderID" data-id="@item.PurchaseOrderID" class="btn-delete"><i class="fa fa-eye"></i></a></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section jsFooter{
    <script>
        $(document).ready(function () {
            $('.btn-CreateOrder').click(function () {
                var url = $('#CreatePO').data('url');
                $.get(url, function (data) {
                    $('#CreatePO').html(data);
                    $('#CreatePO').modal('show');
                })
            });
        });
    </script>
}
