@model ClothesBYW.Areas.Administrator.Models.PurchaseOrderDetails
@{
    ViewBag.Title = "PODetails";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Chi tiết đơn đặt hàng @Model.PurchaseOrder.PurchaseOrderID
        </div>
    </div>
    <div class="col-sm-12 btn-product-detail" style="display: flex; justify-content: flex-end">
        <button style="background-color: whitesmoke;
                                backdrop-filter: blur(6px);
                                -webkit-backdrop-filter: blur(6px);
                                border: 1px solid black;
                                box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                border-radius: 12px;
                                -webkit-border-radius: 12px;
                                color: black;
                                    padding: 5px 10px;">
            @Html.ActionLink("Back to List", "Index")
        </button>
    </div>
    <div class="row w3-res-tb">
        <!--Thông tin-->
        <div class="col-sm-12" style="background-color: rgba(255, 255, 255);
                                           backdrop-filter: blur(13px);
                                           -webkit-backdrop-filter: blur(13px);
                                           border: 1px solid rgba(255, 255, 255, 0.18);
                                           box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                           -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                           border-radius: 12px;
                                           -webkit-border-radius: 12px;
                                           position: relative;
                                           display: flex;
                                           margin-left: 10px;
                                           margin-right: 25px">
            <h3 style="position: absolute; top: -15px; color: green">Thông tin về đơn hàng</h3>
            <div class="product-left" style="padding: 30px 0;">
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Nhà cung cấp: </span>@Model.Supplier.Name</div>
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Ngày tạo: </span>@Model.PurchaseOrder.CreatedDate</div>
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Tạo bởi: </span>@Model.PurchaseOrder.CreatedBy</div>
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Ngày chỉnh sửa: </span>@Model.PurchaseOrder.ModifiledDate</div>
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Chỉnh sửa bởi: </span>@Model.PurchaseOrder.ModifiledBy</div>
                <div class="col-sm-12" style="margin-bottom: 5px"><span style="font-weight:bold">Ngày nhận hàng: </span>@Model.PurchaseOrder.ReceivedDate</div>
                <div class="col-sm-12" style="margin-bottom: 5px">
                    <span style="font-weight:bold">Trạng thái: </span>
                    @if (Model.PurchaseOrder.Status == 1)
                    {
                        <span>Chờ phê duyệt</span>
                    }
                    else if (Model.PurchaseOrder.Status == 2)
                    {
                        <span>Đang giao đơn</span>
                    }
                    else if (Model.PurchaseOrder.Status == 3)
                    {
                        <span>Đã bị huỷ</span>
                    }
                    else if (Model.PurchaseOrder.Status == 4)
                    {
                        <span>Đã nhận hàng</span>
                    }
                    else if (Model.PurchaseOrder.Status == 5)
                    {
                        <span>Lỗi chi tiết đơn</span>
                    }
                </div>
                <div class="col-sm-12 btn-product-detail" style="display: flex; justify-content: flex-end">
                    <button style="background-color: whitesmoke;
                                    backdrop-filter: blur(6px);
                                    -webkit-backdrop-filter: blur(6px);
                                    border: 1px solid black;
                                    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                    border-radius: 12px;
                                    -webkit-border-radius: 12px;
                                    color: black;
                                    padding: 5px 10px;"
                            href="@Url.Action("ChangeStatus", "PurchaseOrders", new { id = Model.PurchaseOrder.PurchaseOrderID })"
                            type="button"
                            data-toggle="modal" data-target="#ChangeStatus">
                        Xét duyệt đơn
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="row" style="margin-top: 30px;">
        <!--Dòng sản phẩm-->
        <div class="col-sm-12" style="background-color: rgba(255, 255, 255);
                                           backdrop-filter: blur(13px);
                                           -webkit-backdrop-filter: blur(13px);
                                           border: 1px solid rgba(255, 255, 255, 0.18);
                                           box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                           -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
                                           border-radius: 12px;
                                           -webkit-border-radius: 12px;
                                           position: relative;
                                           display: flex;
                                           margin: 0 25px;">
            <h3 style="position: absolute; top: -15px; color: green">Các dòng sản phẩm liên quan</h3>
            <div class="col-sm-12 product-left" style="padding: 30px 0;">
                <!--Table sản phẩm-->
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="text-align: center; color: black">Mã dòng sản phẩm</th>
                            <th style="text-align: center; color: black">Tên dòng sản phẩm</th>
                            <th style="text-align: center; color: black">Số lượng đặt mua</th>
                            <th style="text-align: center; color: black">Số lượng nhận được</th>
                            <th style="text-align: center; color: black">Giá đặt mua</th>
                            <th style="text-align: center; color: black">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var modified in Model.POProduct)
                        {
                            <tr>
                                <td style="text-align: center; color: black">
                                    @modified.ProductLineID
                                </td>
                                <td style="text-align: center; color: black">
                                    @modified.ProductLine.Product.ProductName size @modified.ProductLine.Size màu @modified.ProductLine.Color.ColorName
                                </td>
                                <td style="text-align: center; color: black">
                                    @modified.QuantityPurchase
                                </td>
                                <td style="text-align: center; color: black">
                                    @modified.QuantityReceived
                                </td>
                                <td style="text-align: center; color: black">
                                    @modified.PricePurchase
                                </td>
                                <td style="text-align: center; color: black">
                                    @modified.Status
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-sm-12 btn-product-detail" style="display: flex; justify-content: flex-end">

                </div>
            </div>
        </div>
    </div>




    <!--Modal Add Product Line-->
    <div id="ChangeStatus" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>

</div>

