@model Models.EF.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <div class=" col-md-10">
            <h2>Chi tiết hồ sơ nhân viên</h2>
        </div>
        <div class=" col-md-2">
            <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID })</button>
            <button class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
        </div>
    </div>
    <hr />
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Add Users</h4>
            </div>
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mã nhân viên</label>
                            @Html.DisplayFor(model => model.EmployeeID)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nhóm người dùng</label>
                            @Html.DisplayFor(model => model.UserGroup.Name)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Họ và tên </label>
                            @Html.DisplayFor(model => model.Name)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sôd điện thoại </label>
                            @Html.DisplayFor(model => model.Phone)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email </label>
                            @Html.DisplayNameFor(model => model.Email)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Địa chỉ </label>
                            @Html.DisplayFor(model => model.Address)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>CCCD/CMND</label>
                            @Html.DisplayFor(model => model.CitizenID)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày tháng năm sinh</label>
                            @Html.DisplayFor(model => model.DateOfBirth)
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Trạng thái </label>
                            @Html.DisplayFor(model => model.Status)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
