@model IEnumerable<Models.EF.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/EmployeesController.js"></script>
}

<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Danh sách người dùng trong hệ thống quản trị</h4>
            <p class="mb-0">
                Trang tổng quan cung cấp cho bạn tổng quan về danh sách người dùng có quyền truy cập vào <br>
                dữ liệu quan trọng nhất chức năng và điều khiển.
            </p>
        </div>
        <a href="/Administrator/Employees/Create" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Thêm mới nhân viên</a>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">                   
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Nhóm người dùng</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                </tr>
            </thead>  
            <tbody class="ligth-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>                      
                        <td>
                            @Html.DisplayFor(modelItem => item.UserGroup.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <a href="#" class="btn-active" data-id="@item.EmployeeID">@(item.Status?"Active":"Block")</a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                   href="/Administrator/Employees/Details/@item.EmployeeID"><i class="ri-eye-line mr-0"></i></a>
                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                   href="/Administrator/Employees/Edit/@item.EmployeeID"><i class="ri-pencil-line mr-0"></i></a>
                            </div>

                            @*<a href="/Admin/User/Delete/@item.ID">Xoa</a>*@
                            @*@Ajax.ActionLink("Xóa", "Delete", new { @id = item.UserID }, new AjaxOptions
                            {
                                Confirm = "Ban co muon xoa?",
                                OnComplete = "$('#row_)" + item.UserID + "').remove()",
                                HttpMethod = "Delete"
                            })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

