@model IEnumerable<Models.EF.Promotion>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


<div class="table-responsive" id="deTable">
    <table class="table table-striped b-t b-light">
        <thead>
            <tr>
                <th style="text-align: center; color: black">
                    Mã khuyến mãi
                </th>
                <th style="text-align: center; color: black">
                    Mô tả
                </th>
                <th style="text-align: center; color: black">
                    Ngày bắt đầu
                </th>
                <th style="text-align: center; color: black">
                    Ngày kết thúc
                </th>
                <th style="text-align: center; color: black">
                    Ngày tạo
                </th>
                <th style="text-align: center; color: black">Action Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center; color: black">
                        @Html.DisplayFor(modelItem => item.PromotionID)
                    </td>
                    <td style="text-align: center; color: black">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align: center; color: black">
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td style="text-align: center; color: black">
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td style="text-align: center; color: black">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td style="text-align: center; color: black">
                        <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "PromotionProducts", new { id=@item.PromotionID})')"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-primary"
                           data-toggle="collapse"
                           href="#multiCollapseExample1"
                           role="button"
                           aria-expanded="false"
                           aria-controls="multiCollapseExample1">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @foreach (var product in item.PromotionProducts)
                            {
                    <tr>
                        @*<td>
                                <img src="@Url.Content(product.)" style="width: 200px; height: 100px;" />
                            </td>*@
                        <td style="text-align: center; color: black">
                            @product.Product.ProductID
                        </td>
                        <td style="text-align: center; color: black">
                            @product.Product.ProductName
                        </td>
                        <td style="text-align: center; color: black">
                            @item.
                        </td>
                    </tr>
                }
                </div>
                </td>
                </tr>
            }
            </tbody>
            </table>
            </div>

